body {
  font-family: Arial, Verdana;
  position: relative; 
  height: 100vh;
  margin: 0;
  background-size: cover;
}

.container {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 100%; 
  text-align: center;
  margin: 0;
  display: auto;
}

.timeDiv {
 position: absolute; 
 top: 40%;
 width: 100%; 
 transform: translateY(-50%);  
 text-align: center;
 margin: 0;
 display: auto;
}

.timeDiv #timer {
 font-size: 9em;
 background-color: white;
 width: 40%;
 padding: 5px;
 border-radius: 80px;
 text-align: center;
 margin: 0 auto;
}

.hiddenAll {
  display: none;
}

.displayAll {
  display: auto;
}

.container h3 {
  font-size: 1.3em;
  width: 2rem;
  text-align: center;
}

.divHour, .divMinute, .divSecond {
  display: inline-flex;
  font-size: 2rem;
}

.divHour span,
.divMinute span {
  font-size: 2rem;
  position: absolute;
  top: -30%;
}

.divMinute h3 {
  display: none;
}


.containerHidden {
  display: none;
}


.divSecond {
  display: none;
}

.buttonStart {
  position: absolute; 
  top: 60%;
  left: 35%;
  transform: translateY(50%); 
  width: 30%; 
  text-align: center;
  margin: 0;
  padding: 20px;
}

.divHour button, 
.divMinute button, 
.divSecond button{
  width: 2rem;
  font-size: 30px;
} 

input[type=number] {
  font-size: 2em;
  width: 5rem;
  height: 2em;
  font-weight: bold;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


